* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background: url("images/projectNavi.jpeg");
    font-size: 10px;
}

body {
    display: grid;
    place-items:center;
}

#chat-container {
    display: grid;
    grid:
        'search-container chat-title' 71px
        'conversation-list chat-message-list' 1fr
        'new-message-container chat-form' 78px
        / 275px 1fr;
    min-width: 1000px;
    max-width: 1200px;
    max-height: 800px;
    height: 95vh;
    background: #FFF;
    border-radius: 10px ;   
}

#search-container,
#conversation-list,
#new-message-container {
    background: rgb(250, 246, 9);
}



#search-container {
    display:grid;
    align-items: center;
    padding: 0 20px;
    grid-area: search-container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
}

#search-container input::placeholder {
    color: rgb(61, 61, 59);
    font-weight: bold;
}

#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
}

.conversation {
    color: rgba(0,0,0,0.75);
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
    background: rgb(250, 212, 0);
}

.conversation:hover {
    cursor: pointer;
}

.title-text {
    font-size: 1.7rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation-message {
    grid-column: span 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-message-container {
    display: grid;
    grid: 40px / 40px;
    align-content: center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
}

#new-message-container a {
    display: grid;
    place-content: center center;
    background: rgba(0,0,0,0.75);
    border-radius: 100%;
    color: rgb(250, 246, 9);
    text-decoration: none;
    font-size: 3.6rem
}


#chat-title,
#chat-form {
    background: #eee;
}

#chat-title {
    display: grid;
    grid: 36px / 1fr 36px;
    align-content: center;
    align-items: center;
    grid-area: chat-title;
    color:rgba(0,0,0,0.75);
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 20px;
}


#chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px
}

.you-message {
    justify-content: end;
    justify-items: end;
}

.other-message {
    justify-items: start;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time {
    font-size: 1.3rem;
    color: #777;
}

.you-message .message-text {
    background: #eee;
    color: rgba(0,0,0,1);
    border: 1px solid #ddd;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #0048AA;
    color: #eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 14px 0;
}

#chat-form {
    display: grid;
    grid: 1fr ;
    grid-area: chat-form;
    align-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding-left: 42px;
    padding-right: 22px;
}

#chat-form input{
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}


::-webkit-scrollbar {
    display: none;
}

.nav{
    width:100%;
    height:80px;
    /*background-color:black;*/
 }
 .nav_child{
    width:1000px;
    height:80px;
    margin:auto;
 }

 .navbar{
    width:750px;
    height:80px;
    float:right;
 }
 .navbar a{
    color:white;
    line-height:80px;/* vertical center */
    margin-left:40px;
    text-decoration:none;/* remove under line*/
    font-size:15px;/* change size */
 }
 .navbar a:hover{
    color:orange;
    font-size:18px;
 }



